<div>
  <h3>Register Here</h3>
</div>
<div id="register-component">
  <form>
      <input #registerUsername id="username" placeholder="username" /><br />
      <input #registerEmail id="email" placeholder="email" type="email" /><br />
      <input #registerPassword id="password" type="password" placeholder="password" /><br />
      <input #registerPassword2 id="password2" type="password" placeholder="password again" /><br />
      <button #registerButton id="register-button" type="button">Register</button>
  </form>
</div>      

