<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item class="nav-link" [routerLink]="['/']" (click)="sidenav.toggle()">Home</a>
      <a mat-list-item class="nav-link" [routerLink]="['user/dashboard']" (click)="sidenav.toggle()">Dashboard</a>
      <a mat-list-item class="nav-link" [routerLink]="['user/profile']" (click)="sidenav.toggle()">Profile</a>
      <a mat-list-item class="nav-link" [routerLink]="['user/login']" (click)="sidenav.toggle()">Login</a>      
      <a mat-list-item class="nav-link" [routerLink]="['user/register']" (click)="sidenav.toggle()">Register</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span><button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></span>
      <span>Mean Stack</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
